body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 10px;
}
button{
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    background-color: #181818;
    width: 20%;
    padding: 5px;
    margin: 5px;
}
button:hover{
    scale: 110%;
}
#image{
    width: 2%;
}
.sec1{
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.sec2{
    font-size: 1rem;
    align-self: center;
}
section{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 20px;
    background-color: #161616;
}