body{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 10px;
}
button{
    color: black;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #c4c4c4;
    width: 20%;
    padding: 5px;
    margin: 5px;
}
button:hover{
    scale: 110%;
}
#image{
    width: 2%;
}
.sec1{
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.sec2{
    font-size: 1rem;
    align-self: center;
}
section{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: #e7e7e7;
}
.invisible{
    display: none;
}
#changeSize{
    font-size: 10px;
}