body{
    color: white;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
}

#button{
    align-self: center;
    width: 20%;
    margin: 50px;
    padding: 15px;
    background-color: #252525;
    color: white;
    border: solid white 1px;
}
#testLabel{
    scale: 100%;
    align-self: auto;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 500ms;
}