body{
    background-color: #4e4e4e;
    user-select: none;
}
.legend1{
    visibility: hidden;
    position: fixed;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #3b3b3b;
    padding: 10px;
    line-height: 2px;
    width: auto;
    align-items: center;
}
.legend2{
    position: fixed;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #3b3b3b;
    padding: 10px;
    line-height: 2px;
    width: auto;
    align-items: center;
}
.legend1 > p, .legend2 > p{
    margin-left: 10px;
}
kbd{
    color: #fff;
    border: solid black 1px;
    border-radius: 5px;
    background-color: #373535;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}
#kbd_1{
    background-color: #4d4d4d;
}
#kbd_2{
    background-color: #242424;
}
#stepStatus{
    color: #ffc1c1ff;  
}
#mouseStatus{
    color: #9effabff;
}
#img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    cursor: default;
    transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms ;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
    box-shadow: 1px 57px 114px -10px rgba(0,0,0,0.62);
    -webkit-box-shadow: 1px 57px 114px -10px rgba(0,0,0,0.62);
    -moz-box-shadow: 1px 57px 114px -10px rgba(0,0,0,0.62);
}
#crosshair{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5px;
    border: solid #000 3px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}