body 
{
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(135, 116, 143);
    font-weight: 100;
    font-size: 30px;
    word-spacing: 1px;
}
.input
{
    height: 100vh;
    background-color: rgb(30, 24, 31);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.output
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table
{
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
    font-weight: 100;
}
tr
{
    border: 1px solid white;
}
#inputName, #inputScore
{
    height: 30px;
    width: 400px;
    background-color: rgb(34, 30, 36);
    border: 1px solid rgb(135, 116, 143);
    color: rgb(135, 116, 143);
    font-size: 15px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: ease-in-out 200ms;
}
#inputName:focus
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 80, 94);
}
#inputScore:focus
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 80, 94);
}
#inputName:hover
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 80, 94);
}
#inputScore:hover
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 80, 94);
}
#buttonSubmit
{
    height: 30px;
    width: 200px;
    background-color: rgb(34, 30, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(135, 116, 143);
    font-weight: 100;
    text-align: center;
    border: 1px solid rgb(135, 116, 143);
    transition: ease-in-out 150ms;
    
}
#buttonSubmit:hover 
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 80, 94);
}
