body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    background-color: rgb(36, 35, 35);
    background-image: url("https://wallpapercave.com/wp/wp5547058.jpg");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
}
a:link{color: white; text-decoration: none; opacity: 0.7;}
a:visited{color: white; text-decoration: none; opacity: 0.7;}
a:active{color: white; text-decoration: none; opacity: 0.7;}
a:hover{color: white; text-decoration: none; opacity: 1;}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    width: 90%;
    text-align: center;
}
ol li {
    text-align: center;
    list-style: none;
    line-height: 150px; 
    width: 100%;
    padding: 8px 12px;
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
} 
ol li a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}
.list ol li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://wallpapercave.com/wp/wp4247174.jpg");
    background-repeat: no-repeat;
    z-index: 0;
  }