@font-face {
    font-family: 'hkfont';
    src: url("TrajanPro-Regular.woff") format("woff");
}
body{
    color: white;
    font-family: hkfont;
    font-size: 60px;
    padding: 0px;
    background-color: rgb(49, 48, 48);
    background-image: url("https://picfiles.alphacoders.com/537/thumb-1920-537041.jpg");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
}
a:link{color: white; text-decoration: none; opacity: 0.5; top: 5px;}
a:visited{color: white; text-decoration: none; opacity: 0.5; top: 5px;}
a:active{color: white; text-decoration: none; opacity: 0.5; top: 5px;}
a:hover{color: white; text-decoration: none; opacity: 1;font-size: 80px; letter-spacing: 5px; padding: 50px; top: 6px;} 
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
