body{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    background-color: rgb(36, 35, 35);
    background-image: url("https://wallpapercave.com/wp/wp5547058.jpg");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
}
a:link{color: white; text-decoration: none; opacity: 0.5;}
a:visited{color: white; text-decoration: none; opacity: 0.5;}
a:active{color: white; text-decoration: none; opacity: 0.5;}
a:hover{color: white; text-decoration: none; opacity: 1;font-size: 80px; letter-spacing: 5px;}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
